<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wanderlog</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/site.css">
</head>

<body class="flex-column min-100-vh">
  <nav class="navbar">
    <a href="/"><img src="/public/assets/w-logo" alt="Wanderlog Logo" href="/homepage"></a>
    <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search the Wanderlog" aria-label="Search"
                aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
            </span>
        </div>
    <ul class="flex-row">
      {{!-- <li class="li-inline nav-item"><a href="/dashboard">Account</a></li> --}}
      <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
    </ul>
    <a href="/dashboard/new"><button type="button" class="btn btn-primary btn-lg add-new-adventure-button">➕ Add New Adventure</button></a>
  </nav>

  <main class="col-auto">
    {{{body}}}
  </main>

  <footer class="footer flex-row justify-center">
  </footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="/js/logout.js"></script>

</html>