<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <img class="logoSmall" src="" alt="">
        <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
            </span>
        </div>
        <button type="button" class="btn btn-outline-secondary">Your Wanderlog</button>
        <button type="button" class="btn btn-outline-secondary">Dropdown Menu</button>
        <button type="button" class="btn btn-primary btn-lg">+ Add New Adventure</button>
    </header>

    <h1>Pick Your Path</h1>

    <div>
        <button type="button" class="btn btn-primary btn-lg">Camping Adventure</button>
        <button type="button" class="btn btn-secondary btn-lg">Trail Quest</button>
    </div>
</body>

</html>