<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 class="logoLarge">Wanderlog</h1>
    <p>Tagline here (get with group to nail down)</p>

    <div class="input-group">
        <div class="form-outline">
            <input type="search" id="form1" class="form-control" />
            <label class="form-label" for="form1">Search</label>
        </div>
        <!-- this is the search button w/out Bootstrap it is doing something weird that we will need to stylize
        <button type="button" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
        -->
    </div>
    
    <div>
        <button type="button" class="btn btn-primary btn-lg">Login</button>
        <button type="button" class="btn btn-secondary btn-lg">Sign Up</button>
    </div>
</body>

</html>