<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <img class="logoSmall" src="" alt="">
        <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
            </span>
        </div>
        <button type="button" class="btn btn-outline-secondary">Your Wanderlog</button>
        <button type="button" class="btn btn-outline-secondary">Dropdown Menu</button>
        <button type="button" class="btn btn-primary btn-lg">+ Add New Adventure</button>
    </header>

    <section class="thumbnailPicture">
        <!-- thumbnail picture here (align to left) -->
    </section>

    <section class="checklist">
        <!-- info section here (trail checklist) align to left-->
    </section>

    <section>
        <h1>Post Title</h1>
        <p>Date Range | Trail Name | City, State</p>
        <!-- button or toggle switch here for draft/publish -->
        <p>Experience Level | Trail Difficulty | Trail Length</p>
    </section>

    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quas sint odit reprehenderit natus,
            provident dicta sed maxime veritatis nulla laborum a minima, id eos totam necessitatibus doloremque
            recusandae voluptas.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident alias beatae voluptate vitae dicta ex
            atque a dolorum ipsa obcaecati, nobis sunt molestias itaque nemo, maxime dolores adipisci delectus quasi?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, iste officiis quaerat aperiam ex natus
            error, nam a, voluptates provident asperiores cumque accusamus quam laudantium ea. Vero obcaecati optio
            earum?
        </p>
    </section>

    <section>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">User Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">User Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>  <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">User Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </section>

</body>

</html>