@import url("https://use.typekit.net/jnf7bws.css");

.custom-btn {
    background-color: #00aba7;
    border: none;
}

.custom-btn:hover {
    background-color: #006160;
    border: none;
    transform: scale(1.025);
    transition: 0.3s;
}

input[type="text"]::placeholder {                 
    /* Firefox, Chrome, Opera */
    text-align: center;
    color: #BC6C25;
}

.checked {
    color: #BC6C25;
}